@font-face {
    font-family: 'Joyride EXT';
    src: url('JoyrideEXT.woff2') format('woff2'),
        url('JoyrideEXT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
